.form {
    border: 5px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 3%;
    margin: auto;
    /* margin-top: 3%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
}

.ant-row {
    margin: 0;
}

.centerform {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: whitesmoke;
    padding: 20px;
}

h1, h3 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #1890ff;
}

h1 {
    margin: 10px 0 0 0;
    font-size: 30px;
}

h2 {
    padding-top: 10px;
    margin: 3px 0 0 0;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: #1890ff;
    text-indent: 8px;
}

.form>p {
    margin: 3px 0 0 0;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: #1890ff;
    text-indent: 8px;
}
    
h3 {
    font-size: 18px;
}
.kweetbtn {
    margin: 0 0 10px 0;
}
.content {
    /* border: 1px solid blue; */
    padding: 10px;
    margin: 0;
}

.maincontent {
    width: 900px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: auto;
    /* padding: 10px; */
    justify-content: space-between;
}

.col1 {
    width: 324px;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
    box-shadow: 0 20px 30px -15px rgba(0, 0, 0, .1);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.col2 {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 20px 30px -15px rgba(0, 0, 0, .1);
    border-radius: 15px;
    width: 564px;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.ant-result {
    width: 600px;
    margin: auto;
}

.ant-result-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    border-radius: 15px;
}

.goback {
    margin: auto;
}

.fulldiv {
    background: linear-gradient(to right, rgb(230, 230, 230), #6eb8fe, rgb(230, 230, 230));
    padding: 1px;
}

.header {
    padding-top: 15px;
}