.ant-back-top {
    bottom: 50px;
  }
.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 42px;
    border-radius: 100px;
    background-color: #1890ff;
    color: white;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 10px 20px -15px rgba(0,0,0,.1);
}
.words {
    padding-top: 5px;
    padding-bottom: 0;
    line-height: 18px;
}