.ant-card-body {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userpost {
    display: flex;
    justify-content: space-between;
}
.timestamp {
    font-style: italic;
    font-size: 8pt;
    display: flex;
    justify-content: flex-end;
}
 
.ant-divider {
    margin: 24px 0 0 0;
}