.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0;
    /* background-color: white; */
    
}

.logo {
    margin: auto;
}

hr {
    width: 100%;
    margin: auto;
    border: 0.5px solid lightgray;
    margin: 3px 0 10px 0;
} 

.tagline {
    color: #1890ff;
}