.topmenu {
  display: flex;
  justify-content: center;
  margin: -1px ;
  border: 1px solid lightgray;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 10px 20px -15px rgba(0,0,0,.1);
}

.ant-menu-item {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
}