.accountbuttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.profilebtn {
    margin: 15px 5px 0 5px;
}

.ant-btn-primary {
    font-weight: 800;
}

.ant-btn-danger {
    background-color: white;
    color: #ff4d4f;
    font-weight: 700;
}

.subdata {
    /* margin-top: 15px; */
    /* text-align: right; */
    font-size: 9pt;
    font-style: italic;
    color: rgb(179, 179, 179);
}