.ant-card-meta {
    display: flex;
    align-items: center;
}

.ant-card-body {
    border: 0;

}

.editbutton {
    font-style: italic;
    font-size: 8pt;
    display: flex;
    justify-content: flex-end;
}